html, body {
	height: 100%;
	overflow: none;
}

div {
	/*border:1px solid red;*/
}

div#rn-main {
	height: 100%;
}

div#rn-content {
	height: 100%;
	overflow-y: scroll;
}

ul {
	list-style-type: none;
}

ul#nav {
	font-variant: small-caps;
	margin-bottom: 0;
}

ul#nav li span {
	font-size: 20px;
}

div.cnt-item {
	padding-right: 10px;
	text-align: justify;
}

div.cnt-title {
	width:98%;
	text-align: right;
	font-size: 1.5em;
	color:red;
}

p.apa {
	padding:0;
	padding-left:3em;
	text-indent: -3em;
	margin-bottom:0;
}

p.cnt-subtitle {
	font-style: italic;
}

img.social {
	height:1em;
	width: 1em;
}

#cnt-cv ul li {
	padding-left:5em;
	text-indent: -5em;
}